html {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #f0f0f0; /* Light color for dark mode */
    }
}
.project-card:hover .project-overlay {
    opacity: 1;
    transform: translateY(0);
}
.skill-bar {
    transition: width 1s ease-in-out;
}
.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s, transform 0.6s;
}
.animate-on-scroll.show {
    opacity: 1;
    transform: translateY(0);
}


